@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*, :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* configurações para fonte */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    /* aplicado apenas para os motores de navegadores que usam webkit */
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    /* para o mozilla firefox */
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #0F172A;
}

main {
    max-width: 640px;
    padding: 20px;
    margin: 0 auto 64px;
}

header {
    margin-top: 64px;
    padding-bottom: 24px;
    border-bottom: 1px solid #334155;
}

header h1 {
    margin-top: 24px;
    font-size: 30px;
    color: #f1f5f9;
}

#quiz {
    /* inicia um contador */
    counter-reset: quiz-item;
}

.quiz-item {
    margin-top: 24px;
    border: 1px solid #475569;
    border-radius: 6px;
    overflow: hidden;
}

.quiz-item h3 {
    padding: 16px 20px;
    color: #e2e8f0;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #1e293b;
}

.quiz-item h3::before {
    /* incrementa 1 a cada h3 na página */
    counter-increment: quiz-item;
    /* ativa o contador passando o nome dele */
    content: counter(quiz-item);
    background-color: #475569;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* impede o encurtamento do elemento */
    flex-shrink: 0;
}

.quiz-item dl {
    padding: 20px 24px;
    display: grid;
    gap: 8px;
}

.quiz-item dl dt {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #e2e8f0;
}

input {
    /* zera os estilos do input para fazer manualmente */
    all: unset;
    width: 16px;
    height: 16px;
    border: 1px solid #94a3b8;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* impede o encurtamento do elemento */
    flex-shrink: 0;
}

input:checked {
    border: 1px solid #fe60bf;
}

input:checked::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fe60bf;
}

#acertos {
    width: 100%;
    background-color: #fe60bf;
    padding: 12px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* diminui o tamanho da fonte em telas menores */
@media screen and (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }
    .quiz-item h3 {
        font-size: 15px;
    }
}